/promptopia-frontend/node_modules/
/promptopia-backend/.gradle/
/promptopia-backend/gradle/wrapper/
/promptopia-backend/build/
/.idea/
/promptopia-frontend/.next/
/promptopia-frontend/package-lock.json/
/promptopia-frontend/.gitignore
